<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        
        <link rel="stylesheet" href="/css/post.css"/>
    </head>
    <body>
        {{ partial "sidebar.html" . }}
            <div class="parallax">
                <div class="masthead" {{ if ne .Params.mastheadimage "" }}style="background-image: url('{{ .Site.BaseUrl }}{{ .Params.mastheadimage }}');" {{ end }}>
                    <div class="title">
                      {{ .Title }}
                    </div>
                    <div class="posted-date">
                        Posted {{ .Date.Format "Jan. 02, 2006" }}
                    </div>
                </div>
                <div id="content" class="post">
                    <div class="post-contents">
                        {{ .Content }}
                    </div>
                    {{ partial "disqus.html" . }}
                </div>
            </div>
            {{ partial "foot.html" . }}
            
    </body>
</html>
