<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700,400italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
         <link rel="stylesheet" href="/css/post.css"/>
        <link rel="stylesheet" href="/css/style.css"/>
       
    </head>
    <body>
        {{ partial "sidebar.html" . }}
            <div class="parallax">
                <div class="masthead" {{ if ne .Params.mastheadimage "" }}style="background-image: url('{{ .Site.BaseUrl }}{{ .Params.mastheadimage }}');" {{ end }}>
                    <div class="title">
                      {{ .Title }}
                    </div>
                    <div class="posted-date">
                        Posted {{ .Date.Format "Jan. 02, 2006" }}
                    </div>
                </div>
                <div id="content" class="post">
                    <div class="post-contents">
                        {{ .Content }}
                    </div>
                </div>
            </div>
       
        
        
        
    </body>
</html>
