.navbar {
  width:100%;
  background-color: rgba(255, 255, 255, 0.60);
  position: fixed;
  z-index: 100;
}

.navbar li {
  display:inline-block;
  list-style: none;
  padding: 10px 40px;
  float:left;
}

.navbar li a {
  
  text-decoration: none;
}

.navbar li a:visited {
  color: inherit;
}

.navbar li img {
  position:absolute;
  height: 1em;
  top:.8em;
  
    
}

.navbar li:first-child {
  float:left;
}