body {
    font-family: "Georgia",Georgia,Times,serif;
    /*line-height: 1.5;*/
    text-rendering: optimizelegibility;
}
.sidebar {
    background: #F3615F;
    color: #FAFAF9;    
    display: block;
    float:left;
    position: fixed;
    top: 0em;
    bottom: 0em;
    left: 0em;
    width: 25%;
    z-index: 100;
    
}
@media screen and (max-width:850px) {
    .sidebar {
        position: relative;
        clear: left;
        width: 25%;
        height: 150px;
        width: 100%;
    }
}

.content-container {
    width: 75%;

    display:inline-block;
    float: right;
}

.post-listing {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "Crimson Text", Georgia, serif;
    color: #333;
    margin-bottom: 70px;
    
}
.post-title {
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
    font-family: "Montserrat",sans-serif;
}

.post-date {
    display:inline-block;
    margin-top: 8px;
    font-style:italic;
    color: #777
}

.post-masthead {
    height: auto;
    display: block;
    margin-left: -7%;
    margin-top: -5%;
    width: 113.5%;
}

.reading-time {
    font-style: normal;

}

.post-link {
    text-decoration: none;
    color: #DFDFDF;
    background: none repeat scroll 0% 0% #455466;
    padding: 5px 10px 8px;
    border-radius: 5px;
    font-style:normal;
}


.sidebar-top {
    background: #455466;
    height:50%;

}

.sidebar-top .contents {
    padding: 5% 2em;
    font-family:"Montserrat",sans-serif;
    position:relative;
    text-align: left;
    height:100%;

}

.sidebar-top .contents h1 {
    font-size: 3em;
    margin-bottom: 0;
}

.social {
    padding: 0;
    position:absolute;
    bottom:37px;
    right:0;
    
}

.social-item {
    list-style-type: none;
    color: inherit;
    font-size: 2em;
    display:inline-block;

}

.social-item > a {
    color: #FAFAF9;    
    text-decoration: none;

}


.sidebar-bottom {
    position:relative;
    height: 50%;
}

.tagline {
    font-weight: bold;
    margin-top: 0px;
    font-size: 1.5em;
}

.menus {
    padding: 12% 2em;

}

.menu-item {
    list-style-type: none;
    display:block;
    font-family: "Montserrat", sans-serif;
    color: inherit;
    font-size: 2em;
    clear: left;
}

.menu-item > a {
    color: #FAFAF9;    
    text-decoration: none;
    float:left;

}

.copyright-info {
    font-size: 10px;
    position: absolute;
    bottom: 19px;
    text-align: center;
    margin: 0px auto;
    width: 100%;

    

}