<link rel="stylesheet" href="/css/menu.css">
<nav class="navbar" id="main-nav">
    <ul>
        <li><a href="#"><img src="/images/handplane.svg"></a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Talks</a></li>
        <li><a href="#">Projects</a></li>            
        <li><a href="#">About</a></li>

    </ul>
</nav>
<script type="text/javascript">
 window.onload = function() {
     console.log("hoorah");
     var navbar = document.getElementById("main-nav");
     var content = document.getElementById("content");
     
     console.log(content);
     console.log("Hoorah 2");
     content.onscroll = function () {
         console.log("MUAAAHHH");
         

     };
     console.log("HMMMMM");
 };
</script>

